.screen{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../background.png");
}

.mainBox{
    margin: 5vh;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap:65px;
    background-color: #B6D8D3;
    /* background-color: white; */
    border-radius: 8px;
}

.sell_header{
    margin-top: 5vh;
    font-weight: 750;
    font-size: 7vh;
    font-family: "Gill Sans Extrabold", sans-serif;
    text-decoration:0.5vh  underline;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sell_form{
    gap: 45px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 30vw;
    background-color: white;
    margin-bottom: 5vh;
}

.description-box {
  width: 50%; 
  background-color: #d7ede9;          
  min-height: 10vh;    
  padding: 1vh;
  font-size: 2vh;
  border-radius: 8px;
  border: 2px solid black;
  resize: vertical;
  white-space: pre-wrap;
  word-wrap: break-word;     
}


.upload{
    border-radius: 8px;
    width:10vw;
    height: 5vh;
    background: linear-gradient(to top, #4CBF97, #4EAFBA);
    font-weight: 600;
}

.sell_input{
    background-color: #d7ede9;
    width: 50%;
    height: 4vh;
    font-size: 2vh;
}

.sell_bottom{
    margin-bottom: 10vh;
}