.searchCard{
  display: flex;
  /* flex-direction: column; */
    /* flex-wrap: wrap; */
    border: 2px black groove;
    border-radius: 5px;
    background-color: white;
    height: 30vh;
    margin-left: 0.5vw;
    /* margin-top: 2vh; */
}

.leftSearch{
  /* border: 2px black groove; */
  height: 100%;
  width: 140%; 
  position: relative;
}

.searchcardImage{
    margin: 2vh;
    height: 25vh;
    width: auto;
    border: 2px black groove;
    border-radius: 5px;
    padding-left: 2vw;
    padding-right: 2vw;

}

.searchheartbutton{
    margin-left: -0.8vw;
    /* margin-top: auto; */
    background: none;
    border: none;
}

.searchheart{
    position: absolute;
    top: 4vh;
    right: 1.5vw;
    background-color: white;
    /* color: white; */
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.rightSearch{
    /* width: 30%; */
    /* word-wrap: normal; */
    margin-top: 1vh;
    flex: 2;
    padding-right: 1vw;
}

.searchprice{
    font-size: 3vh;
}

.searchtitle{
    font-size: 3.5vh;
    font-weight: 500;
    margin-top: -2vh;
}

.searchdesc{
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
    white-space: nowrap;         /* keep text on one line */
    overflow: hidden;            /* hide overflow */
    text-overflow: ellipsis;     /* add ... */
    width: 20vw; 
    margin-bottom: 3vh;
}

.searchbtText{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1vw;
    height: 4vh;
    margin-left: 3vw;
    margin-top: auto;
    margin-bottom: 1vh;
    width: 70%;
    background: linear-gradient(to left, #4CBF97, #4EAFBA);
    border: 1px solid black;
    border-radius: 8px;
}