.searchCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: space-between;
}

.searchCard {
  max-height: 40vh;
  width: 35vw;
  height: auto;
  border: 2px black groove;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 2vh;
  display: flex;
  box-sizing: border-box;
}

.leftSearch {
  flex: 1; /* Takes equal space */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSearch {
  flex: 1.2;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchcardImage{
    margin: 2vh;
    height: 25vh;
    width: auto;
    border: 2px black groove;
    border-radius: 5px;
    padding-left: 2vw;
    padding-right: 2vw;

}
.search_button_style {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 2vw;
    height: 4vh;
    margin-top: auto;
    margin-bottom: 2vh;
    width: 15vw;
    background: linear-gradient(to left, #4CBF97, #4EAFBA);
    border: 1px solid black;
    border-radius: 8px;
    /* padding-top: -0.5vh; */
    /* padding: 0.5vh; */
}

.search_arrow_style{
  color: black;
  font-size: 3vh;
  vertical-align: middle;
  /* padding-top: 1vh; */

}
.searchViewbuttonText {
  /* margin-top: -2vh; */
  background-color: transparent;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  position: relative;
  top: -1vh;
}

.searchheartbutton{
    margin-left: -1vw;
    background: none;
    border: none;
}

.searchheart{
    position: absolute;
    top: 5.3vh;
    right: 1.6vw;
    background-color: white;
    /* color: white; */
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}


.searchprice{
    font-size: 2.5vh;
}

.searchtitle{
    font-size: 3vh;
    font-weight: 500;
    margin-top: -2vh;
}

.searchdesc {
  margin: 0;
  line-height: 1.5;
  font-size: 2vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;       /* ✅ allow text to wrap */
  overflow: visible;         /* ✅ don’t clip it */
  width: 100%;               /* ✅ full width available */
  margin-bottom: 3vh;
}

.searchbtText{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1vw;
    height: 4vh;
    margin-left: 3vw;
    margin-top: auto;
    margin-bottom: 1vh;
    width: 70%;
    background: linear-gradient(to left, #4CBF97, #4EAFBA);
    border: 1px solid black;
    border-radius: 8px;
}