.logo_img{
  width: 8vw;
  height: 10vh;
}

.titlebar{
    background-color: #b6d8d3;
    height: 10vh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0; 
    z-index: 1000;
}

.logo_name{
    display: inline-block;
    margin-top: 3vh;
    font-size: 3.5vh;
    font-weight: 500;
    /* font-style: italic; */
    font-family:'Georgia';
}

.search_bar{
    margin-top: 2vh;
    height: 5vh;
    width: 47%;
    margin-left: 5vw;
    font-size: 17px;
    /* font-style: italic; */
    padding-left: 5px; 
}
.search_bar a.active {
    border: 2px solid black;
}

.search_icon{
    margin-top: 1.9vh;
    font-size: 2.5vh;
    border: 2px solid black;
    padding: 1.5vh;
    background-color: #CCCCCC;
    margin-left: -0.1vw;
}

.register{
    margin-top: 2.5vh;
    height: 5vh;
    width: 10vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    /* font-style: italic; */
    font-weight: 600;
    color: #116d77;
    background: none;
    border: none;
}
.cart_button{
    height: 10vh;
    width: 5vw;
    /* font-size: 20vh; */
    margin-left: 1vw;
    background: none;
    border: none;
}
.cart_icon{
      /* font-size: 100px;  */
    margin-top: 0.5vh;
    padding: 1.5vh;
    /* margin-left: 2.5vw; */
}

.sell{
    height: 5vh;
    margin-left: 2.5vw;
    font-size: 1.2vw;
    /* font-style: italic; */
    font-weight: 800;
    background-color: #E8EEEF;
    border: 5px solid #3AAF9F;
    color: #3AAF9F;
    border-radius: 15px;
    margin-top: 2.5vh;
}