.main{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url("../background.png");
}

.box{
    margin: auto;
    display: flex;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 15px 20px rgb(205, 200, 200);
    width: 50%;
    position: center;
    height: 85%;
}

.leftBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 20px;
    background: linear-gradient(to top, #4CBF97, #4EAFBA);
    /* background-color: rgb(52, 217, 192); */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 40%;
}

.logInButton{
    font-size: large;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    padding: 5px;
    width: 25vh;
}

.rightBox{
    background-color: white;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width : 60%;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.text{
    font-size: 1.5vw; 
    margin-top: 10%;
}

.Ltext{
    font-weight: 500;
    font-size: 2.3vw;
    margin-top: -4%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.input{
    border-radius: 5px;
    border-color: rgb(41, 40, 40);
    height: 4vh;
}

.signInButton{
    width: 22vh;
    font-size: 1.2vw;
    font-weight: 600;
    border-radius: 15px;
    margin-left: 5vw;
    margin-right: 80px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #3AAF9F;
    color: white;
}

.break {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: -10;
}

.break hr {
  width: 150px;          /* Match your button's width here */
  height: 1px;           /* Thin line */
  border: none;
  background-color: black;
}

.optionBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px groove rgb(41, 40, 40);
    gap: 8px;
    height: 4vh;
    font-size: 2vh;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}