.searchpage{
    display: flex;
    margin-top: 10vh;
    /* background-color: white; */
}

.searchFilterContainer{
  background-color: white;
}

.divider {
  width: 4px; /* line thickness */
  background-color: #116D77;
  margin: 0;
}

.searchCardContainer {
  margin-left: 0.8vw;
  display: grid;
  gap: 2vw;
  padding: 2vh;
}