.searchpage{
    display: flex;
    margin-top: 10vh;
    /* background-color: white; */
}

.divider {
  width: 4px; /* line thickness */
  background-color: #116D77;
  margin: 0;
}

.searchCardContainer {
  margin-left: 2.5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 2vw;
  padding: 2vh;
}