.bar{
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items:center;
  height: 7vh;
  width: 100%;
  
  background: linear-gradient(to left, #4CBF97, #4EAFBA );
  /* background-color: white; */
}