.filterSection{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 15vw;
    /* margin-left: 1vw; */
    /* margin-top: 1vw; */
    /* margin-bottom: 1vw; */
    padding: 1vw;
    /* border: 2px solid #4EAFBA; */
    /* border-radius: 15px; */
    gap: 15px;
    flex-wrap: wrap;
}

.filterHeading{
    text-align: center;
    font-size: 4vh;
    font-weight: 600;
    /* text-decoration: underline; */
}

.filter{
    display: flex;
    flex-direction: column;
    gap:8px
}

.filterLabel{
    font-size: 2.5vh;
    font-weight: 600;
    border: none;
    background: none;
    text-align: left;
}

.filterOptions{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.filterOptionLabel{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 2.1vh;
}

.searchlineGap {
    background-color: #b6d8d3;
    height: 2px;
    border: none;
    margin-left: -15px;
    margin-right: -15px;
}

.clearFilterButton{
    margin-top: 1vh;
    padding: 2vh;
    background-color: #4EAFBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2.5vh;
}